body {
  background-image: url("create-a-qr-code.png");

  color: #f5f506;
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
input{
  height: 60px;

}
#qrcode{
  text-align: center;
  background-color: bisque;
}
.a{
  background-color: rgba(250, 235, 215, 0.843);
  color: black;
}
h1{
text-align: center;
}
p{
  padding: 1em;
}